EmployeeAppraisalWeb/App_WebReferences/EmployeeAppraisalServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12337/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:12337/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:12337/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetTeamLeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
        <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamLeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTeamLeaderResult" nillable="true" type="q1:ArrayOftblEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindNewProjectTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindNewProjectTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindNewProjectTrackResult" nillable="true" type="q2:ArrayOftblModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindClientProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindClientProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindClientProjectResult" nillable="true" type="q3:ArrayOftblProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProjectPointResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetClientDetailResult" nillable="true" type="q4:tblClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
        <xs:element minOccurs="0" name="Point" type="xs:float" />
        <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GiveFeedbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddErrorLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="strException" nillable="true" type="q5:Exception" />
        <xs:element minOccurs="0" name="PageName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="AdminID" type="xs:int" />
        <xs:element minOccurs="0" name="MACAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddErrorLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="strException" nillable="true" type="q6:Exception" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSkill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewSkillResult" nillable="true" type="q7:ArrayOftblSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SkillName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CBY" type="xs:int" />
        <xs:element minOccurs="0" name="SSkill" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSkillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAddmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAddminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewAddminResult" nillable="true" type="q8:ArrayOftblAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResSubAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResSubAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResSubAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindAdminGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindAdminGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindAdminGridResult" nillable="true" type="q9:ArrayOftblAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindCBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindCByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindCByResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="ComName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminModifyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewEmployeeResult" nillable="true" type="q10:ArrayOftblEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindEmpCBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindEmpCByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindEmpCByResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="ComName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpModifyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSFillDD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSFillDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CMSFillDDResult" nillable="true" type="q11:ArrayOftblCM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSFillEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMSID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSFillEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMSFillEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CBy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CMSID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMSEditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewInquiry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewInquiryResult" nillable="true" type="q12:ArrayOftblInquiry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostedProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostedProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetPostedProjectResult" nillable="true" type="q13:ArrayOftblPostProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientNamePostedProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientNamePostedProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientNamePostedProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryNamePostProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryNamePostProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCategoryNamePostProjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillClientProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillClientProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FillClientProjectResult" nillable="true" type="q14:ArrayOftblClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountSubCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillLanguageProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CatID" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillLanguageProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FillLanguageProjectResult" nillable="true" type="q15:ArrayOftblLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="CatID" type="xs:int" />
        <xs:element minOccurs="0" name="LanID" type="xs:int" />
        <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdminID" type="xs:int" />
        <xs:element minOccurs="0" name="DeadLine" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BindProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BindProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindProjectResult" nillable="true" type="q16:ArrayOftblProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSkill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindSkillResult" nillable="true" type="q17:ArrayOftblSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountProjectSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountProjectSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountProjectSkillResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindEmployeeResult" nillable="true" type="q18:ArrayOftblEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
        <xs:element minOccurs="0" name="ManagerID" type="xs:int" />
        <xs:element minOccurs="0" name="AssignBy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewProjectResult" nillable="true" type="q19:ArrayOftblProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProjectPandding">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProjectPanddingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewProjectPanddingResult" nillable="true" type="q20:ArrayOftblProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProjectComplete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewProjectCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewProjectCompleteResult" nillable="true" type="q21:ArrayOftblProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewCategoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewLanguageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MangerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewManagerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="ComName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectActiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetManagerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdminLoginResult" nillable="true" type="q22:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SendCodeResult" nillable="true" type="q23:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePwdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatDrop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatDropResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCatDropResult" nillable="true" type="q24:ArrayOftblCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSubCategoryResult" nillable="true" type="q25:ArrayOftblCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SuperID" type="xs:int" />
        <xs:element minOccurs="0" name="CBY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLanguageResult" nillable="true" type="q26:ArrayOftblLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSubLanguageResult" nillable="true" type="q27:ArrayOftblLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LanguageName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="SuperID" type="xs:int" />
        <xs:element minOccurs="0" name="CBY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLanguageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gender" type="xs:int" />
        <xs:element minOccurs="0" name="CBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeRegistrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminID" type="xs:int" />
        <xs:element minOccurs="0" name="CurPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminRegBindData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminRegBindDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="AdminRegBindDataResult" nillable="true" type="q28:ArrayOftblAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsInsert" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsUpdate" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
        <xs:element minOccurs="0" name="CBY" type="xs:int" />
        <xs:element minOccurs="0" name="IsSuper" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminRegistrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCountryResult" nillable="true" type="q29:ArrayOftblCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetStateResult" nillable="true" type="q30:ArrayOftblState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCityResult" nillable="true" type="q31:ArrayOftblCity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRegBindData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRegBindDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ClientRegBindDataResult" nillable="true" type="q32:ArrayOftblClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ComName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WebURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Landmark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" type="xs:int" />
        <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
        <xs:element minOccurs="0" name="CBY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientRegistrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindModuleResult" nillable="true" type="q33:ArrayOftblModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindTaskResult" nillable="true" type="q34:ArrayOftblTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ProjectStatusResult" nillable="true" type="q35:ArrayOftblProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnSubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeEmailCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeEmailCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeEmailCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailCkecking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Event" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailCkeckingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailCkeckingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ClientLoginResult" nillable="true" type="q36:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgetChangePwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgetChangePwdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MailToPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MailToPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MailToPersonResult" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPersonTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Viewservice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewserviceResult" nillable="true" type="q38:ArrayOftblCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSubservice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CatID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewSubserviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewSubserviceResult" nillable="true" type="q39:ArrayOftblCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindEmpProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindEmpProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindEmpProfileResult" nillable="true" type="q40:tblEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gen" type="xs:int" />
        <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
        <xs:element minOccurs="0" name="con" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="add" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Img" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateEmpProfileResult" nillable="true" type="q41:tblEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEmpSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewEmpSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ViewEmpSkillResult" nillable="true" type="q42:ArrayOftblSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
        <xs:element minOccurs="0" name="SkillName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpSkillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelEmpSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
        <xs:element minOccurs="0" name="SkillID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelEmpSkillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInquiryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContentUpload" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeadlineDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountContentTrans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountContentTransResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountContentTransResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
        <xs:element minOccurs="0" name="ManagerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddModuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BindNewProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindNewProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindNewProjectResult" nillable="true" type="q43:ArrayOftblModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindTotalTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindTotalTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindTotalTaskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindProjectModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindProjectModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BindProjectModuleResult" nillable="true" type="q44:tblModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProjectDetailResult" nillable="true" type="q45:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetTaskListResult" nillable="true" type="q46:ArrayOftblTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TeamLeaderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>